.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --azul-principal: #3772FF;
  --verde-esmeralda: #36D6AD;
  --coral-cor: #FC7071;
  --creme-cor: #FCF0E3;
  --cinza-cor: #737380;
  --cinza-claro: #BCBCBC;
  --cinza-claro-fundos: #F6F6F6;
  --coral-rosado-hover: #FF9D9E;
}


.body__cadastro {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Container principal */
.div__header_home_cadastro {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2rem 5%;
  z-index: 1;
}


.section__cadastro {
  position: relative;
  min-height: 100vh; 
  z-index: 1;
}

.forma-container_cadastro {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.forma__cadastro {
  width: 100%;
  max-width: 700px;
  height: auto;
}

/* Conteúdo do header */
.header__conteudo_cadastro {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

/* Botões à esquerda */
.botoes-wrapper {
  display: flex;
}

.botoes_cadastro {
  display: flex;
  align-items: center;
  gap: 35px;
  margin-top: 40px;
}

.botoes_cadastro li {
  display: flex;
  align-items: center;
}

.adopet__logo_bege_cadastro {
  margin-right: 0.8rem;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.patinhas-wrapper {
  display: flex;
  align-items: flex-start;
  margin-top: 40px;
}

.patinhas__superior_direita {
     position: absolute;
  top: 0;
  right: 0;
  width: 40vw;         
  max-width: 300px;    
  min-width: 150px;    
  height: auto;
  z-index: 2;
}


.mensagem__logo_cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.mensagem__logo_cadastro,
.formulario {
  position: relative;
  z-index: 1;
}

.adopet__logo_azul_cadastro {
  width: 300px;
}

.p__section_cadastro {
    color: var(--azul-principal);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 26px;
    text-align: center;
    z-index: 1;
}

.forma__canto_direito {
  position: absolute;
  right: 0%;
  top: 20%;
  z-index: 0;
  max-width: 10%;
  max-width: 700px;
}

.formulario {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 0.5rem;
  width: 80%;           
  max-width: 1000px;
  border-radius: 12px;
  align-items: center;
  border: none;
}

.formulario label {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--cinza-cor);
  margin-top: 1rem;
}

.formulario input {
  padding: 1rem;
  align-items: center;
  border: none;
  border-radius: 8px;
  min-width: 80%;
  max-width: 20rem;
  background-color: var(--cinza-claro-fundos);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.formulario ::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--cinza-claro);
  text-align: center;
}

.formulario input.input__curto {
  min-width: 50%;
}

.botao__form_cadastrar {
  background-color: var(--coral-cor);
  border-radius: 6px;
  width: 12rem;
  padding: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #ffff;
  font-size: 1.25rem;
  margin-top: 1.5rem;
}



.cadastro__footer {
  background-color: var(--verde-esmeralda);
  max-width: 100%;
  padding: 1rem;
  margin-top: 8rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: #FFFFFF;
}

@media (max-width: 1200px) {
  .mensagem__logo_cadastro {
    padding-top: 4rem;
  }
}

@media (max-width: 768px) {

  .botoes_cadastro {
    gap: 4rem;
  }

  .formulario input.input__curto {
    min-width: 80%;
  }

  .mensagem__logo_cadastro {
    padding-top: 8rem;
  }

  .patinhas__superior_direita {
    width: 35vw;
  }

  .forma__canto_direito {
    top: 40%;
    width: 15vw;
  }
}


@media (max-width: 360px) {
  .adopet__logo_bege_cadastro {
    display: none;
  }

  .mensagem__logo_cadastro {
    padding-top: 2rem;
  }


  .p__section_cadastro {
    max-width: 20rem;
  }

  .adopet__logo_azul_cadastro {
    width: 60%;
  }

  .botoes_cadastro {
    margin-top: 20px;
    gap: 3rem;
  }

  .formulario {
    width: 100%;
    z-index: 1;
  }

  .forma__canto_direito {
    transform: scaleX(-1);
    left: 0%;
    top: 50%;
    z-index: 0;
    width: 25%;
  }
}